*.bin
*.BIN
*.o
*.img
serial.txt*
serial.out*
*.config
*.creator
*.user
*.files
*.includes
bochs.symbols
log
hdd.img
hdd.img.bak
hdd.img.lock
diskimage/*.txt
diskimage/dump
snapshot.txt*
.kdev4
*kdev4
*.kate-swp
*.a
vmulmix
*.elf
*.map
